<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/styles.css" media="screen" title="no title" charset="utf-8">
    <title>OSX .NET Core</title>
  </head>
  <body>
    @RenderBody()
  </body>
</html>
